In [2]:
import pandas as pd

In [3]:
prod29_hist_url = r"https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto29/Cuarentenas-Historicas.csv"
prod29_activ_url = r"https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto29/Cuarentenas-Activas.csv"
prod29_total_url = r"https://raw.githubusercontent.com/MinCiencia/Datos-COVID19/master/output/producto29/Cuarentenas-Totales.csv"

p29_hist = pd.read_csv(prod29_hist_url, error_bad_lines=False)
p29_activ = pd.read_csv(prod29_activ_url, error_bad_lines=False)
p29_total = pd.read_csv(prod29_total_url, error_bad_lines=False)

In [15]:
p29_hist["Fecha de Inicio"] = p29_hist["Fecha de Inicio"].astype('datetime64[ns]')
p29_hist["Fecha de Término"] = p29_hist["Fecha de Término"].astype('datetime64[ns]')
p29_hist.head(2)

,ID,Nombre,Estado,Alcance,Fecha de Inicio,Fecha de Término,Código CUT Comuna,Detalle,Superficie en m2,Perímetro en m
0,1,Arica,Histórica,Área Urbana Completa,2020-04-16 22:00:00,2020-05-15 22:00:00,15101,Corresponde al Radio Urbano de la Ciudad de Ar...,2.805042e+07,48722.300013
1,2,Santiago Norte,Histórica,Sector Específico,2020-04-13 05:00:00,2020-05-05 22:00:00,13101,Corresponde a la extensión de la cuarentena en...,1.993922e+07,21599.351343

In [16]:
p29_hist.dtypes

ID                            int64
Nombre                       object
Estado                       object
Alcance                      object
Fecha de Inicio      datetime64[ns]
Fecha de Término     datetime64[ns]
Código CUT Comuna             int64
Detalle                      object
Superficie en m2            float64
Perímetro en m              float64
dtype: object

In [17]:
p29_activ["Fecha de Inicio"] = p29_activ["Fecha de Inicio"].astype('datetime64[ns]')
p29_activ["Fecha de Término"] = p29_activ["Fecha de Término"].astype('datetime64[ns]')
p29_activ.head(2)

,ID,Nombre,Estado,Alcance,Fecha de Inicio,Fecha de Término,Código CUT Comuna,Detalle,Superficie en m2,Perímetro en m
0,4,El Bosque,Activa,Comuna completa,2020-04-16 22:00:00,NaT,13105,Aplicada a la totalidad de la comuna. Se incor...,2.062271e+07,18788.870751
1,26,Quinta Normal,Activa,Comuna completa,2020-04-23 22:00:00,NaT,13126,Aplicada a la totalidad de la comuna. Se incor...,1.701414e+07,21243.797017

In [18]:
p29_activ.dtypes

ID                            int64
Nombre                       object
Estado                       object
Alcance                      object
Fecha de Inicio      datetime64[ns]
Fecha de Término     datetime64[ns]
Código CUT Comuna             int64
Detalle                      object
Superficie en m2            float64
Perímetro en m              float64
dtype: object

In [19]:
p29_total["Fecha de Inicio"] = p29_total["Fecha de Inicio"].astype('datetime64[ns]')
p29_total["Fecha de Término"] = p29_total["Fecha de Término"].astype('datetime64[ns]')
p29_total.head(2)

,ID,Nombre,Estado,Alcance,Fecha de Inicio,Fecha de Término,Código CUT Comuna,Detalle,Superficie en m2,Perímetro en m,Region,n_REGION
0,1,Arica,Histórica,Área Urbana Completa,2020-04-16 22:00:00,2020-05-15 22:00:00,15101,Corresponde al Radio Urbano de la Ciudad de Ar...,28050418.80,48722.30001,15,R15
1,2,Santiago Norte,Histórica,Sector Específico,2020-04-13 05:00:00,2020-05-05 22:00:00,13101,Corresponde a la extensión de la cuarentena en...,19939218.57,21599.35134,13,R13

In [20]:
p29_total.dtypes

ID                            int64
Nombre                       object
Estado                       object
Alcance                      object
Fecha de Inicio      datetime64[ns]
Fecha de Término     datetime64[ns]
Código CUT Comuna             int64
Detalle                      object
Superficie en m2            float64
Perímetro en m              float64
Region                        int64
n_REGION                     object
dtype: object